# Ignore the contents of the _site directory
_site/

# Ignore the directory for local files during development
local/

# Ignore assest folders and files
_data/
_drafts/
_includes/
_layouts/
_pages/
_portfolio/
_posts/
_publications/
_sass/
_talks/
_teaching/
assests/
files/
images/
markdown_generator/
talkmap/



# Ignore the Gemfile that is generated
Gemfile.lock

# Ingore files created by npm
node_modules
package-lock.json